<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424678725437-j7vbob6tgukg9fqd7p5bikmpj716h93g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424678725437-j7vbob6tgukg9fqd7p5bikmpj716h93g</string>
	<key>API_KEY</key>
	<string>AIzaSyDAtohkp0dC93EVDV5GCDlOkuFZHTzMAK0</string>
	<key>GCM_SENDER_ID</key>
	<string>424678725437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salimuzun.Loodos-OMDB</string>
	<key>PROJECT_ID</key>
	<string>loodos-omdb</string>
	<key>STORAGE_BUCKET</key>
	<string>loodos-omdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:424678725437:ios:639d0081ebc5b5dd7b9754</string>
</dict>
</plist>
